/* #arrowThing {
    transform: rotateZ(90deg);
    transition: all 0.4s ease;
} */

.skillSetImg {
    height: 1rem;
    width: 1rem;
    display: inline-flex;
}

.rotate {
    animation: rotate-keyframes 1s;
   }
   
   @keyframes rotate-keyframes {
    from {
     transform: rotate(0deg);
    }
   
    to {
     transform: rotate(450deg);
    }
   }