#middle {
    margin: 0 auto;
}

#contactCard {
    margin-top: 5vh;
}

.submission {
    width: 100%;
}
.submission:hover {
    width: 100%;
    background-color: grey;
}

#contactBG {
    background-image: url("../../components/images/freshGrass.jpg");
    background-size: cover;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.5)
}