.skillSetImg {
    height: 1rem;
    width: 1rem;
    display: inline-flex;
}

#skillSet {
    margin: 0 auto;
}

#bioCard {
    margin: 5vh 0;
    word-wrap: break-word;
    border: none;
}

th, td {
    border: none !important;
    border-collapse: collapse;
}

#profilePic {
    margin: 5vh 0;
    width: 50%;
}

#mumboJumbo {
    /* background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);  */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    text-align: center;
    text-shadow: 1px 1px rgb(0, 0, 0, 0.7)
}

#aboutScroll {
    background-image: url("../../components/images/digibg.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.display-4 {
    font-variant: small-caps;

}

@media only screen and (max-width: 600px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .email {
        font-size: 1rem;
    }
}