.homebg {
    background-color: salmon;
    height: 50rem;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    z-index: -1;

}

.skillSetImg {
    width: 2.5rem;
    margin: auto;
}

.logoSet {
    width: 100%;
    margin: auto;
    justify-content: center;
}

.homeContent {
    height: 50rem;
    width: 100%;
}

.homeCard{
    width: 90%;
    margin: auto;
    position: relative;
    left: 0;
    top: 9rem;

}

.homeTitle {
    margin-bottom: 1rem;
}
