.odinbg {
    /* background-image: url("../images/odinbg.png"); */
    background-color: teal;
    height: 50rem;
    width: 100%;
    /* filter: blur(2px); */
    opacity: 0.8;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

}

.odinContent {
    height: 50rem;
    width: 100%;
}

.lokiPic {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%
}

/* .cardPic {
    position: absolute;
    bottom: 10rem;
    right: 10rem;
    width: 25%;
} */

.cardPic2 {
    position: absolute;
    bottom: 3rem;
    right: 1rem;
    width: 50%;
}