#linksIcon {
    width: 8rem;
}

#odinProject {
    background-image: url(../images/wood.jpg)
}

#projectCard {
    margin: 5vh 5vw;
    word-wrap: break-word;
    border: none;
}

#linksUpTop {
    position: absolute;
    top: 0;
    right: 0;
}