#shareProject {
    background-image: url("../../components/images/bbq1-sm.jpg");
}

#shareCard {
    background-image: url("../../components/images/bbq2-sm.jpg");
    word-wrap: normal;

}

#shareCardPic {
    background: rgba(0, 0, 0, 0.3);
    margin: 5vh 0;
    border: none;
    overflow: hidden;
}

.sharePicZoom {
    width: 100%;
    transition: all 3s;
}

.sharePicZoom:hover {
    transform: scale(1.1);
}

.shareButton {
    padding: 1rem 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
}