nav {
    text-align: center;
}

#topBar {
    width: 20%;
    background: rgba(255,255,255,0.4);
    position: absolute;
    top: 0;
    right: 10rem;
    /* box-shadow: 0 10px 20px rgba(50,50,50,.95); */
}


.nav-item:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2)
}
#upperBar {
    width: 100%;
    position: absolute;
    color: white;
    /* top: 0; */
    z-index: 999;
    /* background: rgba(255,255,255,0.4); */
}


@media only screen and (max-width: 1344px) {
    #topBar {
        width: 30%;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 960px) {
    #topBar {
        width: 100%;
        margin: 0 auto;
        right: unset;
    }

}

@media only screen and (max-width: 600px) {
    #topBar {
        width: 100%;
        margin: 0 auto;
        right: unset;
    }

}